.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backbutton {
  padding: 15px 90px;
  font-size: 20px;
  background-color: rgba(161, 182, 180, 0.781); /* Subtle gray */
  color: white;
  border: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.backbutton:hover {
  background-color: #13702a; /* Darker gray on hover */
}

.backbutton:active {
  transform: translateY(1px); /* Slight "press" effect */
}
.sav{
  width: 100%;       /* Spans the whole container */
  padding: 15px 0;   /* Makes it taller */
  font-weight: bold;
}